In [23]:
st = 'shyam goli is here'
st.count('i')

2

In [24]:
st.find('goli')

6

In [25]:
st.replace('goli', 'G')

'shyam G is here'

In [26]:
st

'shyam goli is here'

In [27]:
print('this the one\t i didn\'t expected')

this the one	 i didn't expected

In [28]:
mylist = [90, 56, 3 ,5]

In [29]:
mylist.sort()
print(mylist)

[3, 5, 56, 90]

In [30]:
sorted(mylist)

[3, 5, 56, 90]

In [31]:
mylist

[3, 5, 56, 90]

In [32]:
mylist.reverse()

In [33]:
mylist

[90, 56, 5, 3]

In [34]:
mylist[::-1]

[3, 5, 56, 90]

In [35]:
mylist

[90, 56, 5, 3]

In [36]:
dict_word = {'Name' : 'Naam',
'Image' : 'Tasveer',
'Play' : 'Khelna'}

In [39]:
for (key, value) in dict_word.items():
    print(key)

Name
Image
Play

In [40]:
dict_word['Name'] = "shyam"
dict_word

{'Name': 'shyam', 'Image': 'Tasveer', 'Play': 'Khelna'}

In [41]:
dict_word.update({'Name' : "Ram"})
dict_word

{'Name': 'Ram', 'Image': 'Tasveer', 'Play': 'Khelna'}

In [42]:
mylist

[90, 56, 5, 3]

In [43]:
mylist.remove(90)

In [45]:
mylist.pop(1)

5

In [46]:
mylist

[56, 3]

In [48]:
set = {12, 4 ,3 ,9}

In [49]:
set

{3, 4, 9, 12}

In [65]:
def uppercase(func):
    return func().upper()

def exclaim(func):
    return str(func()) + '!!!'

@uppercase
@exclaim
def func():
    return "hello shyam"

print(func)

TypeError: 'str' object is not callable

In [2]:
import numpy as np
np.float32([[1,0,-100],[0,1,100]])

array([[   1.,    0., -100.],
       [   0.,    1.,  100.]], dtype=float32)