In [23]:
st = 'shyam goli is here'
st.count('i')

2

In [24]:
st.find('goli')

6

In [25]:
st.replace('goli', 'G')

'shyam G is here'

In [26]:
st

'shyam goli is here'

In [27]:
print('this the one\t i didn\'t expected')

this the one	 i didn't expected

In [28]:
mylist = [90, 56, 3 ,5]

In [29]:
mylist.sort()
print(mylist)

[3, 5, 56, 90]

In [30]:
sorted(mylist)

[3, 5, 56, 90]

In [31]:
mylist

[3, 5, 56, 90]

In [32]:
mylist.reverse()

In [33]:
mylist

[90, 56, 5, 3]

In [34]:
mylist[::-1]

[3, 5, 56, 90]

In [35]:
mylist

[90, 56, 5, 3]

In [36]:
dict_word = {'Name' : 'Naam',
'Image' : 'Tasveer',
'Play' : 'Khelna'}

In [39]:
for (key, value) in dict_word.items():
    print(key)

Name
Image
Play

In [40]:
dict_word['Name'] = "shyam"
dict_word

{'Name': 'shyam', 'Image': 'Tasveer', 'Play': 'Khelna'}

In [41]:
dict_word.update({'Name' : "Ram"})
dict_word

{'Name': 'Ram', 'Image': 'Tasveer', 'Play': 'Khelna'}

In [42]:
mylist

[90, 56, 5, 3]

In [43]:
mylist.remove(90)

In [45]:
mylist.pop(1)

5

In [46]:
mylist

[56, 3]

In [48]:
set = {12, 4 ,3 ,9}

In [49]:
set

{3, 4, 9, 12}

In [65]:
def uppercase(func):
    return func().upper()

def exclaim(func):
    return str(func()) + '!!!'

@uppercase
@exclaim
def func():
    return "hello shyam"

print(func)

TypeError: 'str' object is not callable

In [2]:
import numpy as np
np.float32([[1,0,-100],[0,1,100]])

array([[   1.,    0., -100.],
       [   0.,    1.,  100.]], dtype=float32)

In [1]:
li = [('abraham_grampa_simpson', 913), ('agnes_skinner', 42), ('apu_nahasapeemapetilon', 623), ('barney_gumble', 106), ('bart_simpson', 1342), ('carl_carlson', 98), ('charles_montgomery_burns', 1193), ('chief_wiggum', 986), ('cletus_spuckler', 47), ('comic_book_guy', 469), ('disco_stu', 8), ('edna_krabappel', 457), ('fat_tony', 27), ('gil', 27), ('groundskeeper_willie', 121), ('homer_simpson', 2246), ('kent_brockman', 498), ('krusty_the_clown', 1206), ('lenny_leonard', 310), ('lionel_hutz', 3), ('lisa_simpson', 1354), ('maggie_simpson', 128), ('marge_simpson', 1291), ('martin_prince', 71), ('mayor_quimby', 246), ('milhouse_van_houten', 1079), ('miss_hoover', 17), ('moe_szyslak', 1452), ('ned_flanders', 1454), ('nelson_muntz', 358), ('otto_mann', 32), ('patty_bouvier', 72), ('principal_skinner', 1194), ('professor_john_frink', 65), ('rainier_wolfcastle', 45), ('ralph_wiggum', 89), ('selma_bouvier', 103), ('sideshow_bob', 877), ('sideshow_mel', 40), ('simpsons_dataset', 42), ('snake_jailbird', 55), ('troy_mcclure', 8), ('waylon_smithers', 181)]

In [6]:
sorted(li, key=lambda x : x[1], reverse= True)[:10]

[('homer_simpson', 2246),
 ('ned_flanders', 1454),
 ('moe_szyslak', 1452),
 ('lisa_simpson', 1354),
 ('bart_simpson', 1342),
 ('marge_simpson', 1291),
 ('krusty_the_clown', 1206),
 ('principal_skinner', 1194),
 ('charles_montgomery_burns', 1193),
 ('milhouse_van_houten', 1079)]

In [7]:
import cv2

In [9]:
img_path = 'Resources/images/cat.jpg'
img = cv2.imread(img_path)
# cv2.imshow('img', img)
print(img.shape)
img = cv2.resize(img, (100, 100))
img.shape

(427, 640, 3)

(100, 100, 3)

:

In [16]:
st = 'cbacbacba'
# ccabc
# cccc
def check(st1):
    if st1[0] == st1[1]:
        return st1
    if st1 in ('ab','ba'):
        return 'c'
    elif st1 in ('bc', 'cb'):
        return 'a'
    else:
        return 'b'
    
# prev_length = float('inf')
while True:
    prev_length = len(st)
    for i in range(1, len(st)):
        print(st)
        print(f"({i-1} : {i+1})")
        before_op = len(st)
        st = st.replace(st[i-1:i+1], check(st[i-1:i+1]))
        after_op = len(st)
        if before_op != after_op:
            break
    if prev_length == len(st):
        break

print(st)

cbacbacba
(0 : 2)
aaaaaa
(0 : 2)
aaaaaa
(1 : 3)
aaaaaa
(2 : 4)
aaaaaa
(3 : 5)
aaaaaa
(4 : 6)
aaaaaa

In [2]:
st = 'abcabc'
st = st.replace('ab', 'c')
print(st)

cccc

In [17]:
import numpy as np